/*  ____________________________________
 * |    _   _             _ _           |
 * |   | |_(_)   _ __ _ _(_) |_ ____    |
 * |   | __| |\ / /_ \ '_| | __|_  /    |
 * |   | |_| | ' / __/ | | | |__/ /_    |
 * |    \__|_|\_/\___|_| |_|\__/___/    |
 * |____________________________________|
 *
 * 1.  Font
 * 2.  Normalize
 * 3.  Color
 * 5.  Layout and Background
 * 6.  Header Section
 * 7.  Developer Section
 * 8.  Info Section
 * 9.  Technologies Button
 * 10. Technologies
 * 11. Responsive Desktop View
 */

/* ----------------------------------------------------------------------------
 *    1. Font
 * ------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
}

/* ----------------------------------------------------------------------------
 *    2. Normalize
 * ------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--textcolor);
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------
 *    3. Color
 * ------------------------------------------------------------------------- */
:root {
    --textcolor: rgb(255,255,255);
    --maincolor: rgb(0,146,223);
    --dark: rgb(38,38,38);
}

::selection {
    background: transparent;
    color: var(--dark);
}

/* ----------------------------------------------------------------------------
 *    5. Layout and Background
 * ------------------------------------------------------------------------- */
body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--maincolor);
    background-image: url(../img/bg.svg);
    background-size: contain;
    background-repeat: repeat;
    color: var(--textcolor);
}

#backdrop {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
}
  
#top-content {
    height: 100vh;
    width: 100vw;
    padding: 8vw;
    display: grid;
    grid-template-areas:
        "header"
        "developer"
        "info"
        "tech-button";
    grid-template-rows: auto 3fr 2fr 24vh;
    grid-template-columns: 100%;;
}

#header {grid-area: header}
#developer {grid-area: developer}
#info {grid-area: info}
#tech-button {grid-area: tech-button}

/* ----------------------------------------------------------------------------
 *    6. Header Section
 * ------------------------------------------------------------------------- */
 #header {
     display:flex;
     justify-content: space-between;
 }

 .icon {
    height: 16vw;
    max-height: 68px;
    width: 16vw;
    max-width: 68px;
}

 #mail {
    background-image: url(../icons/icon_mail.svg);
}

#github {
    background-image: url(../icons/icon_github.svg);

}

#linkedin {
    background-image: url(../icons/icon_linkedin.svg);
}

#mail,
#github,
#linkedin {
    padding:10px;
    border: 1px solid white;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% auto;
}

#mail:hover,
#github:hover,
#linkedin:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------------------------------------------
 *    7. Developer Section
 * ------------------------------------------------------------------------- */
 #developer {
    background: url(../img/human.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% calc(100% - 2vh);
    background-size: 46% auto;
}

/* ----------------------------------------------------------------------------
 *    8. Info Section
 * ------------------------------------------------------------------------- */
 #info {
    font-size: 5vw;
    display: flex;
    justify-content: center;
}

.size-mini {
    font-size: 3vw;
    margin-left: 0.4vw;
}

/* ----------------------------------------------------------------------------
 *    9. Technologies Button
 * ------------------------------------------------------------------------- */
#tech-button {
    font-size: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


#tech-link {
    padding: 20px;
    display: flex;
    align-items: center;
}

#tech-link:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

#tech-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#play {
    width: 0;
    height: 0;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
    border-top: 12vw solid white;
}

/* ----------------------------------------------------------------------------
 *    10. Technologies
 * ------------------------------------------------------------------------- */
#technologies {
    min-height: 100vh;
    padding: 40px;
}

#technologies > h2 {
    margin-bottom: 10px;
}

.divider {
    height: 2px;
    width: 100%;
    background: var(--textcolor);
    margin-bottom: 40px;
}

.technology {
    margin-bottom: 40px;
}

.technology-text {
    margin-top: 10px;
}

#tech-os {background-image: url(../img/os.svg);}
#tech-server {background-image: url(../img/server.svg);}
#tech-frontend {background-image: url(../img/frontend.svg);}
#tech-python {background-image: url(../img/python.svg);}
#tech-java {background-image: url(../img/java.svg);}
#tech-dotnet {background-image: url(../img/dotnet.svg);}
#tech-php {background-image: url(../img/php.svg);}

.technology-icon {
    height: 16vh;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.technology-small .technology-icon {
    width: 84px;
    max-height: 12vh;
}

/* ----------------------------------------------------------------------------
 *    11. Responsive Desktop View
 * ------------------------------------------------------------------------- */
@media screen and (min-width: 520px) {
    body {
        background-image: url(../img/bgdesktop.svg);
    }

    #top-content {
        padding: 40px;
        grid-template-areas:
            "header header"
            "developer info"
            "tech-button tech-button";
        grid-template-rows: auto 1fr 20vh;
        grid-template-columns: 20% 80%;
    }

    #header {
        justify-content: flex-start;
    }

    #header > a {
        margin-right: 20px;
    }

    #info {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .size-mini {
        font-size: 1rem;
        margin-left: 0.2rem;
    }

    #developer {
        background-position: 50% 50%;
        background-size: 80% auto;
    }

    #tech-button {
        font-size: 2rem;
    }
    
    #play {
        width: 0;
        height: 0;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
        border-top: 44px solid white;
    }

    .technology {
        display: grid;
        grid-template-areas: 
        "icon text";
        grid-template-columns: 246px minmax(auto, 560px);
        grid-gap: 20px;
    }

    .technology-small {
        grid-template-columns: 84px minmax(auto, 560px);
    }

    .technology-icon {
        grid-area: icon;
        background-position: 50% 50%;
    }

    .technology-text {
        grid-area: text;
        display: flex;
        align-items: center;
    }
}

/* ----------------------------------------------------------------------------
 *  99. Message for Unsupported Browsers
 *      (does not require any JavaScript)
 * ------------------------------------------------------------------------- */
#ie-message {
    background: rgb(190, 0, 0);
    color: white;
    padding: 50px;
    margin-bottom: 50px;
}

@supports (display: grid) {
    #ie-message {
        display: none;
    }
}
