{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="{% static './website/icons/favicon.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static './website/icons/apple-touch-icon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static './website/css/style.css' %}">
        <title>Lukas Walch</title>
    </head>
    <body>
        <!--
        ____________________________________
       |    _   _             _ _           |
       |   | |_(_)   _ __ _ _(_) |_ ____    |
       |   | __| |\ / /_ \ '_| | __|_  /    |
       |   | |_| | ' / __/ | | | |__/ /_    |
       |    \__|_|\_/\___|_| |_|\__/___/    |
       |____________________________________|
        
       How nice of you to show. Looking for a Python or C# developer?
       Get in contact with me and we'll talk.
       lukas.walch@icloud.com
        -->
{% block unsupported %}
{% include 'modules/unsupported.html' %}
{% endblock unsupported %}
{% block content %}
{% endblock content %}

    </body>
</html>