{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <div id="header">
            <a href="mailto:lukas.walch@icloud.com" id="header-mail">
                <div class="icon"></div>
            </a>
            <a href="https://github.com/tiveritz" target="_blank" id="header-github">
                <div class="icon"></div>
            </a>
            <a href="https://www.linkedin.com/in/lukas-walch-5559ba1b6/" target="_blank" id="header-linkedin">
                <div class="icon"></div>
            </a>
            <div class="header-empty">
            </div>
        </div>
        <div id="info">
            <div>
                <div>How nice of you to show.</div>
                <div>Have a look and go nuts!</div>
                <div class="size-mini">Lukas Walch</div>
            </div>
        </div>
        <div id="nuts">
            <a href="#" id="nuts-link">
                <div id="nuts-text">
                    <div>log in</div>
                    <div>and go</div>
                    <div>nuts</div>
                </div>
                <div id="play"></div>
            </a>
        </div>
    </div>
{% endblock content %}