{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div id="backdrop">
            <div id="top-content">
                <div id="header">
                    <a href="mailto:lukas.walch@icloud.com" id="mail">
                        <div class="icon"></div>
                    </a>
                    <a href="https://github.com/tiveritz" target="_blank" id="github">
                        <div class="icon"></div>
                    </a>
                    <a href="https://www.linkedin.com/in/lukas-walch-5559ba1b6/" target="_blank" id="linkedin">
                        <div class="icon"></div>
                    </a>
                </div>
                <div id="developer"></div>
                <div id="info">
                    <div>
                        <div>Passionate Developer.</div>
                        <div>Enthusiastic Automation Engineer.</div>
                        <div>Loves New Technologies.</div>
                        <div class="size-mini">Lukas Walch</div>
                    </div>
                </div>
                <div id="tech-button">
                    <a href="#technologies" id="tech-link">
                        <div id="tech-text">
                            <div>Show Technologies</div>
                        </div>
                        <div id="play"></div>
                    </a>
                </div>
            </div>
            <div id="technologies">
                <h2>Operating Systems</h2>
                <div class="divider"></div>
                <div class="technology">
                    <div id="tech-os" class="technology-icon"></div>
                    <div class="technology-text">
                        I am working on Windows and MacOS and I am developing on both operating
                        systems. But give me a MacBook and I am 10% faster and 42% happier.
                    </div>
                </div>
                <h2>DevOps</h2>
                <div class="divider"></div>
                <div class="technology">
                    <div id="tech-server" class="technology-icon"></div>
                    <div class="technology-text">
                        I spend a lot of time widh DevOps to find good Continous Integration
                        solutions for my projects. I usually deploy my web projects on cloud
                        servers with Ubuntu 20. I always try to archive one-click deployment on git
                        push, with Docker or Webhooks with as little manual work as possible.
                    </div>
                </div>
                <h2>Frontend</h2>
                <div class="divider"></div>
                <div class="technology">
                    <div id="tech-frontend" class="technology-icon"></div>
                    <div class="technology-text">
                        I can make a solid and visually appealing website with HTML5 CSS3 and a
                        smidge of JavaScript. But when it comes to truly great User Interface and
                        Experience I am happy to leave that to much more talented Frontend
                        Developers.
                    </div>
                </div>
                <h2>Backend</h2>
                <div class="divider"></div>
                <div class="technology technology-small">
                    <div id="tech-python" class="technology-icon"></div>
                    <div class="technology-text">
                        Python is my absolute favourite language. First choice for most of my
                        projects and scripts. I am mainly using it for websites with the Django
                        framework.
                    </div>
                </div>
                <div class="technology technology-small">
                    <div id="tech-dotnet" class="technology-icon"></div>
                    <div class="technology-text">
                        I am using C# .NET as well, I am keen to improve my skills because there is
                        a lot of demand for good C# applications. Currently I am using dotnet
                        webapi to build RESTful APIs.
                    </div>
                </div>
                <div class="technology technology-small">
                    <div id="tech-java" class="technology-icon"></div>
                    <div class="technology-text">
                        Java is a good language to learn programming, I've learned most of my OOP
                        skills with Java, but I don't use it in production.
                    </div>
                </div>
                <div class="technology technology-small">
                    <div id="tech-php" class="technology-icon"></div>
                    <div class="technology-text">
                        Easy to learn and use language I've used for some simple multi-page
                        Websites.
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}